.container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  .wrapper {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    .logo {
      width: 30px;
      height: 30px;
      font-size: 16px;
      color: var(--main-color);
      background-color: var(--white);
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    ul {
      display: flex;
      height: 30px;
      align-items: center;
      li {
        margin-left: 30px;
        cursor: pointer;
        &:hover,
        &:active {
          color: #eb4a4c;
        }
      }
    }
  }
}
