@use '../../styles/breakpoint.scss' as *;

.container {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    &.mobileVideoBackground {
      display: none;
    }
    @media screen and (max-width: $maxWidthSmallMobile) {
      &.desktopVideoBackground {
        display: none;
      }
      &.mobileVideoBackground {
        display: block;
      }
    }
  }
}
